<tr :class="{positive: status === 'pass', negative: status == 'fail'}" v-on:mouseover="mouseover" v-on:mouseleave="mouseleave">
    <td>
        <a href="/checks/{{item.name}}" v-on:click="navigate($event)">{{item.name}}</a>
    </td>
    <td>
        {{item.title}}
    </td>
    <td>
        {{item.checker}}
    </td>
    <td>
        <div v-show="started" class="ui active mini inline loader"></div>
        <span><strong>{{status}}</strong> {{finishDate}}</span>
    </td>
    <td>
        {{message}}
    </td>
    <td>
        <i v-show="over && !started" class="play icon" style="cursor: pointer;" v-on:click="start"></i>
        <i v-show="over" class="pencil icon" style="cursor: pointer;" v-on:click="edit"></i>
        <!-- <button v-show="over" class="ui icon small button"><i class="play icon"></i></button> -->
    </td>

</tr>

<!-- <tr><td>{{item | json}}</td></tr> -->