<table class="ui selectable celled table" v-if="checks.length">
        <thead>
            <tr>
                <th class="two wide">name</th>
                <th class="two wide">title</th>
                <th class="two wide">checker</th>
                <th class="three wide">last check</th>
                <th>message</th>
                <th class="one wide"></th>
            </tr>
        </thead>
        <tbody
            is="item"
            v-for="item in checks"
            :item="item"
        </tbody>

</table>