<div class="one wide column">
    <div class="ui container"></div>
</div>
<div class="fourteen wide column">

    <div v-show="loading" class="ui active loader"></div>

    <div class="ui hidden divider"></div>

    <div class="ui grid">
        <div class="row">
            <div class="three wide column"></div>

            <div class="ten wide column">

                <div class="ui header">update check {{name}}</div>

                <edit-form
                    :form="form"
                    submit-button-title="update check"
                    :debug="true"
                    v-on:submit="update"></edit-form>

                    <div class="ui divider"></div>

                    <div class="ui small header">checkTask.result</div>

                    <div class="ui segment"><pre>{{checkTaskResult | json}}</pre></div>

                    <div class="ui small header">checkTask.rawResult</div>

                    <div class="ui segment"><pre>{{checkTaskRawResult | json}}</pre></div>

                    <div class="ui small header">execTask.result</div>

                    <div class="ui segment"><pre>{{execTaskResult | json}}</pre></div>

            </div>

        </div>
    </div>

</div>
<div class="one wide column">
    <div class="ui container">
    </div>
</div>